{% load static %}

<div class="question-element question-list">
    <div class="person">
        {% if question.0.user.avatar.url %}
            <img src="{{ question.0.user.avatar.url }}" alt="Profile Avatar" class="avatar"/>
        {% else %}
            <img src={% static "img/avatar.jpg" %} alt="" class="avatar">
        {% endif %}
        <div class="vote like-section">
            <button data-id="{{ question.0.pk }}"><img src="{% static "img/up.svg" %}" alt=""></button>
            <span>{{ question.3 }}</span>
            <button data-id="{{ question.0.pk }}"><img src="{% static "img/down.svg" %}" alt=""></button>
        </div>
    </div>
    <div class="question-text">
        <a href="{% url 'question' question_id=question.0.pk %}"><h4>{{ question.0.title }}</h4></a>
        <p>{{ question.0.content }}</p>
        <a href="{% url 'question' question_id=question.0.pk %}">
            answers({{ question.2 }})
        </a>
        Tags:
        {% for tag in question.1 %}
            <a href="{% url 'tag' tag_name=tag %}">
                {{ tag }}
            </a>
        {% endfor %}
        <div style="float: right;">{{ question.0.date_add }}</div>
    </div>
</div>