{% extends "layouts/layout.html" %}
{% load static %}
{% block content %}
    <div class="question-element p-bold">
        <h3>New Question</h3>
        <form id="form" method="post">
            {% csrf_token %}
            <div class="input-check-error">
                <div class="error-message">
                    {{ form.errors.title }}
                </div>
                <p>Title</p>
                <br>
                {{ form.title }}
                <br>
            </div>

            <div class="input-check-error">
                <div class="error-message">
                    {{ form.errors.content }}
                </div>
                <p>Text</p>
                <br>
                {{ form.content }}
                <br>
            </div>

            <div class="input-check-error">
                <div class="error-message">
                    {{ form.errors.tags }}
                </div>
                <p>Tags</p>
                <br>
                {{ form.tags }}
                <br>
            </div>

            <div class="error-message">
                    {{ form.non_field_errors }}
            </div>
            <input class="submit-ask" type="submit" value="Ask!">
        </form>
    </div>
<!--<script defer src={% static "js/ask.js" %}></script>-->
{% endblock %}