{% extends "layouts/layout.html" %}
{% load static %}
{% block content %}

    <div class="question-element p-bold">
        <h3>Settings</h3>
        <div class="user-login">
            <form id="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-check-error">
                    <div class="error-message">
                        {{ user_form.errors.username }}
                    </div>
                    <p>username</p>
                    <br>
                    {{ user_form.username }}
                    <br>
                </div>

                <div class="input-check-error">
                    <div class="error-message">
                        {{ user_form.errors.email }}
                    </div>
                    <p>email</p>
                    <br>
                    {{ user_form.email }}
                    <br>
                </div>

                <div class="input-check-error">
                    <div class="error-message">
                        {{ profile_form.errors.nickname }}
                    </div>
                    <p>nickname</p>
                    <br>
                    {{ profile_form.nickname }}
                    <br>
                </div>

                <div class="mb-3">
                    <p>upload avatar</p>
                    <div class="error-message">
                        {{ profile_form.errors.avatar }}
                    </div>
                    <div class="person">
                        {% if request.user.profile.avatar.url %}
                            <img src="{{ request.user.profile.avatar.url }}" alt="Profile Avatar" class="avatar"/>
                        {% endif %}
                    </div>
                    <br>
                    {{ profile_form.avatar }}
                    <br>
                </div>

                <button class="submit-ask center" type="submit">Save</button>
            </form>
        </div>
    </div>
<!--<script defer src={% static "js/settings.js" %}></script>-->
{% endblock %}