{% extends "base/base.html" %}
{% load static %}
{% block content %}
<div class="question-container">
    <div class="question-element p-bold">
        <h3>Log In</h3>
        <div class="user-login">
            <form id="form" action="/">
                <div class="input-check-error">
                    <p><label for="flogin">login</label><br></p>
                    <div class="error-message"></div>
                    <input class="input-control" type="text" id="flogin" maxlength="20" placeholder="Enter your login"><br>
                </div>
                <div class="input-check-error">
                    <p><label for="fpassword">password</label><br></p>
                    <div class="error-message"></div>
                    <input  class="input-control" type="password" id="fpassword" maxlength="30"
                        placeholder="Enter your password"><br>
                </div>
                <button class="submit-ask center" type="submit">Log in!</button>
            </form>
            <a href=""><p>create new account</p></a>
        </div>
    </div>
</div>
<script defer src={% static "js/login.js" %}></script>
{% endblock %}