{% extends "layouts/layout.html" %}
{% load static %}
{% block content %}

{% include 'components/question-component.html' %}

<hr style="width: 90%; margin: 30px; color: black; border: 1px solid; opacity: 1;">

{% for answer in answers %}
    {% include 'components/answer-component.html' %}
{% endfor %}

{% include 'components/paginator-component.html' %}

<hr style="width: 90%; margin: 30px; color: black; border: 1px solid; opacity: 1;">

<div class="create-answer">
    <textarea placeholder="Enter your answer">
    </textarea>
    <button>
    Answer
    </button>
</div>


{% endblock %}