<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AskMe</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    </head>

<body class="bg-body-tertiary">
    <div class="topnav">
        <nav>
            <ul>
                <li>
                    <a href="{% url 'index' %}">
                        <img class="head-img" src={% static "img/patch-question.svg" %}>
                    </a>
                </li>
                <li>
                    <a href="{% url 'index' %}">
                        <h3 class="name">AskMe</h3>
                    </a>
                </li>
            </ul>

            <div class="logged-in-container">
                <a href="{% url 'hot' %}" class="hot"><h4 class="name">HOT</h4></a>
            </div>

            <div class="search-container">
                <input placeholder="Search..." name="search" type="text">
                <span role="button"><img src={% static "img/search.svg" %}></span>
            </div>


            {% if not request.user.is_authenticated %}
            <a href="{% url 'ask' %}" class="send-ask">
                <p>AskKozlova!</p>
            </a>
            <div class="logged-in-container">
                <a href="{% url 'login' %}" class="login">
                        <p>login</p>
                    </a>
                    <a href="{% url 'signup' %}" class="login">
                        <p>register</p>
                    </a>
            </div>
                {% else %}
                    <a href="{% url 'ask' %}" class="send-ask">
                        <p>AskKozlova!</p>
                    </a>
                    <div class="logged-in-container">
                        {% if request.user.profile.avatar.url %}
                            <img src="{{ request.user.profile.avatar.url }}" alt="Profile Avatar" class="topnav-avatar"/>
                        {% else %}
                            <img src={% static "img/avatar.jpg" %} alt="" class="topnav-avatar">
                        {% endif %}
                        <div class="logged-in-information">
                            <a href="{% url 'edit' %}"><p>settings</p></a>
                            <a href="{% url 'logout' %}"><p>log out</p></a>
                        </div>
                    </div>
                {% endif %}
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="popular-tags">
                    <a href=""><h3>Popular Tags</h3></a>
                    {% for tag in popular_tags %}
                        <a href="{% url 'tag' tag_name=tag.tag_name %}"><p>{{ tag.tag_name }}</p></a>
                    {% endfor %}
                    <a href=""><h3>Best Members</h3></a>
                    {% for member in best_members %}
                        <a href=""><p>{{ member }}</p></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <footer style="margin-top: 30px;">
        <div class="topnav">
            <nav>
                <ul>
                    <li>
                        <a href="" class="login"><p>Какая-то информация</p></a>
                    </li>
                    <li>
                        <a href="" class="login"><p>Еще информация</p></a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
    <script src="{% static '/js/main.js' %}"></script>
</body>
</html>