{% extends "layouts/layout.html" %}
{% load static %}
{% block content %}

{% include 'components/question-component.html' %}

<hr style="width: 90%; margin: 30px; color: black; border: 1px solid; opacity: 1;">
{% csrf_token %}
{% for answer in answers %}
    {% include 'components/answer-component.html' %}
{% endfor %}

{% include 'components/paginator-component.html' %}

<hr style="width: 90%; margin: 30px; color: black; border: 1px solid; opacity: 1;">

<div class="create-answer">
    <form id="form" method="post">
        {% csrf_token %}
        <div class="input-check-error">
            <div class="error-message">
                {{ form.errors.content }}
            </div>
            <p>Answer</p>
            <br>
            {{ form.content }}
            <br>
        </div>
        <input class="submit-ask" type="submit" value="Answer!">
    </form>
</div>
{% endblock %}