<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            <a href="?page={{ page_obj.previous_page_number }}"><</a>
        {% endif %}
    {% endif %}

    {% if page_obj.previous_page_number != 1 %}
        <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
    {% endif %}

    <a href="" style="background-color: #bcdabc;">{{ page_obj.number }}</a>

    {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
    {% endif %}

    {% if page_obj.has_next %}
        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
            <a href="?page={{ page_obj.next_page_number }}">></a>
        {% endif %}
        <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
</div>