{% load static %}

<div class="question-element question-list">
    <div class="person">
        <img src={% static "img/avatar.jpg" %} alt="" class="avatar">
        <div class="vote">
            <button><img src="{% static "img/up.svg" %}" alt=""></button>
            5
            <button><img src="{% static "img/down.svg" %}" alt=""></button>
        </div>
    </div>
    <div class="question-text">
        <a href="{% url 'question' question_id=question.id %}"><h4>{{ question.title }}</h4></a>
        <p>{{ question.content }}</p>
        <a href="{% url 'question' question_id=question.id %}">
            answer({{ answer_qty }})
        </a>
        Tags:
        <a href="{% url 'tag' tag_name=question.tag %}">{{ question.tag }}</a>
    </div>
</div>